# AWS
# export AWS_PROFILE='local'
export AWS_ACCESS_KEY_ID='foo'
export AWS_SECRET_ACCESS_KEY='bar'
export AWS_DEFAULT_REGION='local'
export AWS_ENDPOINT_URL='http://127.0.0.1:8888'

export ENVIRONMENT='local'

export TITLE='Vidoso'
export DESCRIPTION='Vidoso...'
export VERSION='0.1'
export BASE_URL='/vidoso/v1'
export DOCS_URL='/vidoso/v1/docs'
export OPENAPI_URL='/vidoso/v1/openapi.json'
